body {
    margin: 0;
    background-image: url(https://firebasestorage.googleapis.com/v0/b/fixedfitnesswebsite.appspot.com/o/navImg%2Fbackground.jpg?alt=media&token=d30e2ae9-52af-461e-bcac-a2bce8572fa1);
    background-size: contain;
}



.main{
    background-color: white;
    background-position: center;
    background-size: contain;
    margin: 0 auto;
    /* position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); */
    width: 1200px;
    min-height: 100%;
}
.noOpacity{
    opacity: 0;
}

.hidden {
    display: none !important;
}

.error {
    border: 1px solid red;
    color: #ae0909;
}

.valid {
    border: 1px solid black;
    color: black;
}

nav {
    z-index: 5;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    background-color: #24272b;
    position: sticky;
    top: 0;
    width: 1200px;
}

#logoArea > a{
    color: white;
    text-decoration: none;
    margin-left: 2em;
    display: flex;
    flex-direction: row;
}

[alt="Fixed Fitness logo"] {
    width: 4em;
    height: 4em;
    border: 1px solid black;
    border-radius: 50%;
}

#logoArea > a >  h2 {
    /* text-decoration: none; */
    min-width: 6em;
}

#logoArea:hover {
    cursor: pointer;
}

nav > ul {
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: space-evenly;
}

nav > ul > li {
    font-weight: bold;
    list-style-type: none;
}

nav > ul > li :hover{
    color:#bbb;
    transition: 1s;
}


nav > ul > li > a {
    text-decoration: none;
    font-size: 0.9rem;
    color: white;
}

#searchArea, #userArea {
    display: flex;
    flex-direction: row;
    border: 1px solid white;
    margin-right: 1em;
}

[name="searchProductButton"],
[name="cancelProductButton"],
[name="loginButton"],
[name="basketButton"]  {
    border: none;
    background-color: transparent;
}


[name="searchProductInput"] {
    min-height: 1.8em;
    border: none;
    background-color: transparent;
    color: white;
    /* outline: none; */
}

button:hover{
    cursor: pointer;
}


#searchArea > button > img,
#userArea > button > img {
    max-width: 1.8em;
}

.confirmation{
    width: 100%;
    color: white;
    background-color: #24272b;
    font-size: 1.2em;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 3.5em;
}

.confirmation > img {
    max-width: 2em;
}

.slideshow {
    margin-bottom: 2em;
}

.productCard{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 0;

}

.productDetail {
    max-width: fit-content;
    margin-left: 2em;
    
}

.slide {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 454px;
    background-image: url(https://firebasestorage.googleapis.com/v0/b/fixedfitnesswebsite.appspot.com/o/navImg%2Fbackground.jpg?alt=media&token=ffad134b-e5d5-420c-907a-df0a750a73c5);
    background-size: cover;
    border-radius: 20px;
    box-shadow: 10px 12px 20px;
    /* margin-left: 6em; */
}

.slideshowImage {
    max-width: 454px;
    border-radius: 20px;

}

[name="previous"], [name = "next"] {
    background-color: transparent;
    border: none;
    position: relative;
}

[name="previous"] {
    /* margin-left: -10em; */
    left: 35px;
}

[name = "next"] {
    right: 35px;
}

.fadeIn {
animation-name: fadeIn;
animation-duration: 2s;
}
.fadeOut {
animation-name: fadeOut;
animation-duration: 2s;
}

@keyframes fadeIn {
from {opacity: .5}
to {opacity: 1}
}
@keyframes fadeOut {
from {opacity: 1}
to {opacity: 0}
}

#dots {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 30px;
}

.dot {
height: 15px;
width: 15px;
margin: 0 2px;
background-color: #bbb;
border-radius: 50%;
display: inline-block;
}

.productInfo{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    /* margin-left: 2em; */
}

.title button {
    background-color: transparent;
    border: none;
}

.title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.6em;
    font-weight: bold;
    border-top: 1px solid #24272b;
    border-bottom: 1px solid #24272b;
    margin-bottom: 15px;

}

.title button>img {
    max-width: 2em;
}

.content{
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
    font-size: 1.2em;;
}

.content > span {
    margin-top: 10px;
}

.productSelect {
    display: flex;
    flex-direction: column;
    margin-left: 1em;
    margin-right: 2em;

}

.productSelect > .title {
    border: none;
    font-size: 2em;
    max-width: 500px;
}

.benefits{
    font-size: 1.3em;
    /* display: flex; */
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #24272b;
    color: #bbb;
}

.row{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    margin-bottom: 10px;
}

.row > img{
    max-width: 1.3em;
    margin-right: 10px;
}

.flavour, .size {
    display: flex;
    flex-direction: column;
    margin-top: 20px;

}

.flavour >.title, .size >.title, .quantity > .title, .stock{
    border: none;
    font-size: 1.3em;
}
.stock{
    /* margin-bottom: 30px; */
    font-weight: bold;
}

.flavour > select, .size > select {
    width: 300px;
    height: 50px;
    font-size: 1.2em;
}

.price{
    margin-top: 20px;
    font-size: 2em;
    font-weight: bold;
}

.quantity{
    margin-top: 20px;
}

.quantity > .title{
    margin-top: 15px;
}

.quantity > input, 
.quantity > [aria-label="Subtract one"], 
.quantity > [aria-label="Add one"]  {
    height: 50px;
    width: 50px;
    text-align: center;
    font-size: 1.2em;
    background-color: white;
}

.addToCart {
    height: 50px;
    width: fit-content;
    margin-left: 2em;
    font-size: 1.2em;
    font-weight: bold;
    background-color: #303030;
    color: white;
    padding: 2px 8px;
    border: none;
}



.active, button:hover {
background-color: #484f53;
transition: 1s ease;
cursor: pointer;
}

footer {
    background-color: #24272b;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    /* position: fixed; */
    /* bottom: 0; */
    width: 1200px;
}

.contact{
    margin-right: 2em;
    border-right: 2px solid white;
    padding-right: 2em;
}

.social, .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
    margin-top: 1em;
}

.social >:nth-child(2) {
    display: flex;
    justify-content: space-between;
    min-width: 130px;
}

.social >:nth-child(2) > img, .contact > img {
    max-width: 2em;
}